
<form [formGroup]="myform" (ngSubmit)="submitForm()">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" class="name" formControlName="userName">
    <!-- <span *ngIf="userName && userName.invalid && userName.touched && userName.dirty">Invalid Name</span> -->
    <span *ngIf="userName?.invalid && (userName?.touched || submitted)">
      <span *ngIf="userName?.errors?.['required']">Name is required.</span>
    </span>
  </div>

  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" class="email" formControlName="emailId">
    <!-- <span *ngIf="emailId && emailId.invalid && emailId.touched">Invalid Email</span> -->
    <span *ngIf="emailId?.invalid && (emailId?.touched || submitted)">
      <span *ngIf="emailId?.errors?.['required']">Email is required.</span>
      <span *ngIf="emailId?.errors?.['email']">Invalid email format.</span>
    </span>
  </div>

  <div>
    <label for="message">Message:</label>
    <textarea id="message" class="message" formControlName="msgText"></textarea>
    <!-- <span *ngIf="msgText && msgText.invalid && msgText.touched">Invalid:(Min 50 Words Needed)</span> -->
    <span *ngIf="msgText?.invalid && (msgText?.touched || submitted)">
      <span *ngIf="msgText?.errors?.['required']">Message is required.</span>
      <span *ngIf="msgText?.errors?.['invalidMessage']">
        Invalid message. It should be 'nil' or contain at least 50 words.
      </span>
    </span>
  </div>

  <div>
    <label for="phNo">Phone Number:</label>
    <input type="tel" id="phNo" name="phNo" formControlName="mobNo">
    <span *ngIf="mobNo?.invalid && (mobNo?.touched || submitted)">
      <span *ngIf="mobNo?.errors?.['required']">Phone number is required.</span>
      <span *ngIf="mobNo?.errors?.['pattern']">Provide a valid mobile number.</span>
      </span>
  </div>

  <button type="submit">Submit</button>
</form>
